.center-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin: 0;
}

.main {
    background-color: #000000;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
    margin-top: 2%;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    display: flex;
    align-items: flex-start;
}

.image-container {
    flex-shrink: 0;
}

.image-container img {
    display: block;
    width: auto;
}

.text-container {
    margin-left: 3em;
}